<div class="main-footer__middle text-sm container mt-4 bg-white">
    <div class="mx-auto mb-8">
        <div class="flex h-8 justify-center mt-8">
            <div class="w-20"><%= image_pack_tag("media/images/eu_logo.png", class: "h-full w-auto") %></div>
            <div><%= t("clean_clothes.text_collaborate_eu_html") %></div>
        </div>
    </div>
</div>