@font-face {
  font-family: 'Tipotype-Trasandina';
  src: url('fonts/TipoType-TrasandinaBlack-Italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Tipotype-Trasandina';
  src: url('fonts/TipoType-TrasandinaUltra-Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Tipotype-Trasandina', sans-serif !important;
}
