<div class="callout warning">
  <p><%= t("ehu_agora.verifications.agora_members_only") %></p>
  <p><%= t("ehu_agora.verifications.login_with_agora") %></p>
</div>
<div class="form__wrapper mt-0">
  <%= form.all_fields %>
</div>